/* Text input and textarea sizes */

select.qty-selector { width: 50px; float:right; }

p.discount-text {font-size:.85em;}

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
	.left        { float: left; }
	.right       { float: right; }
	.text-left   { text-align: left; }
	.text-right  { text-align: right; }
	.text-center { text-align: center; }
	.hide        { display: none; }
	.highlight   { background: #ff0; }

      /*
      custom style for extruder
      */

.extruder .content{display:none;background:#eee;}
.extruder.open .content{-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder .footer{display:none;height:10px;background:#000000;-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.top .flap{color:#ffffff;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;padding:0 5px 5px 5px;height:30px;width:180px;background:#000000;cursor:pointer;-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;text-shadow:2px 2px 2px #333333;}
.extruder.top .content{-moz-border-radius:0 0 8px 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.extruder.bottom .flap{position:relative;color:white;font:18px/28px Arial,Helvetica,sans-serif;text-align:center;display:block;margin:auto;margin-top:1px;padding:0 5px 5px 5px;height:30px;width:180px;background:#000000;cursor:pointer;-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;text-shadow:2px 2px 2px #333333;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.bottom .footer{-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;position:relative;margin-top:-5px;}
.extruder.bottom .content{-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.extruder.bottom .ext_wrapper{bottom:0;}
.extruder.left{height:100%;background:none;}
.extruder.left.open .content{-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.left .content{border-right:6px solid #B22222;background:#EEE9E9;}
.extruder.left .ext_wrapper{height:100%;}
.extruder.left .footer{display:none;}

.extruder.left .flap{font-size:18px;color:white;top:0;padding:10px 0 10px 10px;margin-right:-37px;background:#B22222;width:30px;position:absolute;right:0;-moz-border-radius:0 8px 0 8px;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:8px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:8px;border-top-left-radius:0;border-top-right-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:8px;-moz-box-shadow:2px 0 5px #999999;-webkit-box-shadow:2px 0 5px #999999;box-shadow:2px 0 5px #999999;}
.extruder.left .flap .flapLabel{background:#B22222;}

.extruder.right .content{border-left:6px solid #000000;}


#MC_ECFBar {
    background: none repeat scroll 0 0 #222222;
    border-bottom: 4px solid #00A5FF;
    padding: 15px 20px 13px;
}
#MC_ECFBar {
    padding-left: 20px;
    padding-right: 20px;
}
#MC_ECFBar h1, #MC_ECFBar h2 {
    line-height: 1;
    margin-bottom: 0;
}
#MC_ECFBar h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
}
#MC_ECFBar h1 a {
    color: #FFFFFF;
    font-weight: bold;
}
#MC_ECFBar h2 a {
    background: url("../images/by-zurb.png") repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    text-indent: -99999px;
    width: 82px;
}
#MC_ECFBar strong {
    bottom: 4px;
    display: block;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    position: relative;
}
#MC_ECFBar strong a {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 14px;
    padding-right: 12px;
}
#MC_ECFBar strong a.button {
    font-weight: bold;
    padding: 4px 10px;
}




