body {
    
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.requiredfield {
    color: red;
}


/*
 * Off Canvas: http://getbootstrap.com/examples/offcanvas/
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
@media screen and (max-width: 991px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -60%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -60%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 60%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 60%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0; z-index: 99;
    width: 50%; /* 6 columns */
  }
}

/* 
 * Bootstrap issue 
 *   https://github.com/twbs/bootstrap/issues/9023
 * It can workaround like this changset:
 *   https://github.com/chrisseaton/bootstrap/commit/0d9d01a58a2a82210fe3eaa08e9da822d8995024
*/
.modal-ios {
   position: absolute;
   overflow: visible;
   overflow-x: visible;
   overflow-y: visible;
 }
 
.modal-backdrop-ios {
   position: absolute;
 }
 

.row-border {
    border:1px solid #ddd
}
.row-border > div {
    padding: 5px;
}
.action-column{
    min-width: 85px;
}

.btn-group, .btn-group-vertical { min-width: 135px;}

.listview .thumbnail {display: inline-block; width: 100%;}
.listview .thumbnail > a {float: left; width: 30%}
.listview .thumbnail > div.caption {float: left; width: 70%}

/* Style Search on Top Menu */
#search-btn { width: 40px; color: #FFF }
#search-btn span {font-size:22px}

/* override the epi-quickNavigator-editLink li for small devices */
@media screen and (max-width: 991px)
{
    ul#epi-quickNavigator
    {
        right: 0px;
    }
    ul#epi-quickNavigator li.epi-quickNavigator-editLink
    {
        display: none;
    }
}


/* Truncate String with Ellipsis */
.truncate {
    white-space: nowrap;  
    width: 100%;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}

.C_Catalog_TopMenu {
    margin-bottom: 10px;
}

.C_Order-Payment-Options {
    margin-bottom: 10px;
}

.C_Coupon-Discount-Center {
    margin-bottom: 20px;
}
.C_Footer-Navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;    
}

/* Grid content
-------------------------------------------------- */
#gridContent {
    white-space: nowrap;
}
#gridContent.listview img {
    float: left;
    padding: 0 20px 0 0;
}

.MenuHeader .navbar-nav {
    margin-top: 6px;
}

.MenuHeader .navbar-search {
    margin-bottom: 6px;
}

.dropdown-menu.rightposition{
    right: 0; left: auto;
}

.C_Line-Item-Pricing {
    word-wrap: break-word;
}

@media screen and (max-width: 320px) {
    .hideIfOverflow {
        max-width: 100px;
        overflow-x: hidden;
    }
}