<appSettings>
  <add key="CommerceManagerLink" value="http://CommerceManagerDev/Apps/Shell/Pages/default.aspx" />
  <add key="UseLegacyAssetSystem" value="false" />
  <add key="LibraryHandlerExtension" value="" />
  <add key="Mediachase.StoreEmail" value="eCommerce@episerver.com" />
  <add key="AutoMigrateEPiServer" value="true" />
</appSettings>