<SearchConfig version="1.0">
    <SearchFilters>
        <Filter field="facet_onsale">
            <Descriptions defaultLocale="en">
                <Description locale="en">On Sale</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="yes" value="yes">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Items on Sale</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="no" value="no">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Not on Sale</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="facet_color">
            <Descriptions defaultLocale="en">
                <Description locale="en">Color</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="red" value="red">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Red</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="tan" value="tan">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Tan</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="black" value="black">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Black</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="gray" value="gray">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Gray</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="facet_brand">
            <Descriptions defaultLocale="en">
                <Description locale="en">Brand</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="brand 1" value="brand 1">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Brand 1</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="brand 2" value="brand 2">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Brand 2</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="brand 3" value="brand 3">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Brand 3</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="brand 4" value="brand 4">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Brand 4</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="facet_bestseller">
            <Descriptions defaultLocale="en">
                <Description locale="en">Best Sellers</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="yes" value="yes">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Selling Well</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="no" value="no">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">Not Selling Well</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
        <Filter field="facet_ratings">
            <Descriptions defaultLocale="en">
                <Description locale="en">Ratings</Description>
            </Descriptions>
            <Values>
                <SimpleValue key="1" value="1">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">1 Star</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="2" value="2">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">2 Stars</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="3 stars" value="3 stars">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">3 Stars</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="4 stars" value="4 stars">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">4 Stars</Description>
                    </Descriptions>
                </SimpleValue>
                <SimpleValue key="5 stars" value="5 stars">
                    <Descriptions defaultLocale="en">
                        <Description locale="en">5 Stars</Description>
                    </Descriptions>
                </SimpleValue>
            </Values>
        </Filter>
    </SearchFilters>
</SearchConfig>